body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-extended {
  display: flex;
  justify-content: center;
}
.post {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}
.post_content {
  flex-grow: 3;
}
.post_action {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
.post_action .btn {
  width: 90%;
}
.post span {
  margin-right: 2px;
}

.modalWin {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.modalWin.modalActive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  padding: 10px;
  min-width: 100px;
  border-radius: 10px;
  background: #ffffff;
}

.pagesWrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagesWrapper .btn {
  width: 18%;
  margin-bottom: 5px;
}
